<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/img/favicon.png" type="image/x-icon" />
        <title><%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/login-signup.css">
        <link rel="stylesheet" href="/stylesheets/dashboard.css">
        <link rel="stylesheet" href="/stylesheets/create.css">
        <link rel="stylesheet" href="/stylesheets/blog.css">
    </head>
    <body>
        <header id="header" class="header">
            <nav class="navbar-custom">
                <div class="logo-container">
                    <a class="logo" href="/">
                        <img src="/img/majo-logo.png" alt="Mosaic Jots Logo"><span class="mosaic-jots hide"><span style="color: #000000;">Mosaic</span> <span style="color: #029CDE">Jots</span></span>
                    </a>
                </div>

                <div class="search-container">
                    <form class="search-form" action="/" method="GET">
                        <input class="search-form-input" type="text" name="q" placeholder="Search..." value="<%= req.query.q || '' %>">
                        <button class="search-form-button" type="submit">Search</button>
                    </form>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>

                <div class="hamburger-container">
                    <label class="hamburger">
                        <span class="hamburger-lines"></span>
                    </label>
                </div>

                <div class="nav-links-container hide">
                    <ul>

                        <li>
                            <div class="sorting-container">
                                <label for="sort">Sort by:</label>
                                <select name="sort" id="sort">
                                    <option value="timestamp" <%= sort === 'timestamp' ? 'selected' : '' %>>Timestamp</option>
                                    <option value="read_count" <%= sort === 'read_count' ? 'selected' : '' %>>Read Count</option>
                                    <option value="reading_time" <%= sort === 'reading_time' ? 'selected' : '' %>>Reading Time</option>
                                </select>
                            </div>
                        </li>

                        <% for (const link of links) { %>
                            <li class="link-item-custom">
                                <a href="<%= link.url %>"><%= link.link_name %></a>
                            </li>                            
                        <% } %>
                    </ul>
                </div>    
            </nav>
        </header>


        <div class="index-container">
            <div class="inner-index-container">

                <div class="index-contents">

                    <div class="blogs-container">
                        <div class="latest-blog-container">
                            <div class="latest-blog-hanger">
                                <p>Latest Blog</p>
                            </div>
                            <div class="latest-blog">
                                <div class="latest-blog-head">
                                    <h2><%= lastBlog[0].title %></h2>
                                </div>
                                <div class="latest-blog-content">
                                    <p>
                                        <%= lastBlog[0].body.slice(0, 375) + (lastBlog[0].body.length > 375 ? '...' : '' ) %>
                                        <span><a href="/blog/<%= lastBlog[0]._id %>" class="latest-blog-button btn btn-secondary">Read More</a></span>  
                                    </p>
                                </div>    
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="row row-cols-1 row-cols-md-2 gy-4 blog-content-row">

                                <% if (blogs && blogs.length > 0) { %>
                                    <% blogs.forEach((blog) => { %>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-header">
                                                    <p><%= blog._doc.tag %></p>
                                                    <p><%= blog._doc.reading_time %></p>
                                                </div>
                                                <div class="card-body">
                                                    
                                                    <h3 class="card-title"><%= blog._doc.title.slice(0, 50) + (blog._doc.title.length > 50 ? '...' : '') %></h3>
                                                    <div class="card-content text-justify">
                                                        <p class="card-text">
                                                            <%= blog._doc.body.slice(0, 150) + (blog._doc.body.length > 150 ? '...' : '' ) %>
                                                            <span><a href="/blog/<%= blog._doc._id %>" class="btn btn-secondary btn-sm">Read More</a></span>
                                                        </p>   
                                                        <p class="card-author">By <%= blog._doc.author_fn %> <%= blog._doc.author_ln %></p> 
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <p class="card-text read-count"><i class="fa-solid fa-book-open-reader"></i><span style="font-weight: 500;"> <%= blog._doc.read_count %></span></p>
                                                    <p class="card-text published"><span style="font-weight: 500;">Published:</span> <%= blog.date %> <%= blog.time %></p>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                <% } else { %>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header"></div>
                                            <div class="card-body">
                                                <h3 class="card-title"></h3>
                                                <div class="card-content text-justify">
                                                    <p class="card-text">
                                                        No blog found!
                                                    </p>   
                                                    <p class="card-author"></p> 
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <p class="card-text"></p>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>

                            </div>
                        </div>
                    </div>

                    <div class="pagination-container mt-5 text-center">
                        <% if (page > 1) { %>
                            <a class="btn btn-secondary px-5" href="/?page=<%= page - 1 %>&sort=<%= sort %>">Prev</a> 
                        <% } %>
                        
                        <% if (page < totalPages) { %>
                            <a class="btn btn-secondary px-5" href="/?page=<%= page + 1 %>&sort=<%= sort %>">Next</a>
                        <% } %>
                    </div>

                </div>
        
            </div>
        </div>

    <%- include('partials/copy-right') %>
    <script src="/js/adjust-button-and-search.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/sort.js"></script>
</body>
</html>