<%- include('partials/header') %>

    <div class="signup-container">
        <div class="inner-signup-container">
            <div class="head">
                <h1>Signup</h1>
            </div>

            <div class="signup-content">
                <form action="/signup" method="POST" class="signup-form">
                    <div class="form-field-container">
                        <div class="form-field">
                            <label for="first_name">First Name:</label>
                            <input type="text" name="first_name" placeholder="First Name"  value="<%= first_name %>" required />    
                        </div>
                        <div class="field-error-container">
                            <span class="field-error"><%= errors.first_name %></span>
                        </div>
                    </div>

                    <div class="form-field-container">
                        <div class="form-field">
                            <label for="last_name">Last Name:</label>
                            <input type="text" name="last_name" placeholder="Last Name" value="<%= last_name %>" required />     
                        </div>
                        <div class="field-error-container">
                            <span class="field-error"><%= errors.last_name %></span>
                        </div>
                    </div>

                    <div class="form-field-container">
                        <div class="form-field">
                            <label for="email">Email:</label>
                            <input type="email" name="email" placeholder="Enter email address" value="<%= email %>" required /> 
                        </div>
                        <div class="field-error-container">
                            <span class="field-error"><%= errors.email %></span>
                        </div>
                    </div>

                    <div class="form-field-container">
                        <div class="form-field">
                            <label for="password">Password:</label>
                            <input type="password" name="password" placeholder="Enter password" required />
                        </div>
                        <div class="field-error-container">
                            <span class="field-error"><%= errors.password %></span>
                        </div>
                    </div>

                    <button class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

<%- include('partials/copy-right') %>
<%- include('partials/signup-form') %>
<%- include('partials/footer') %>
